<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业产品仓库基本信息管理系统</title>
    <link rel="icon" href="../static/plugins/bootstrap-icons-1.11.3/house-fill.svg">
    <link rel="stylesheet" href="../static/plugins/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
<!--导航-->
<nav class="navbar bg-body-tertiary shadow-sm">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="/login">企业产品仓库基本信息管理系统</a>
    </div>
</nav>
<!--找回密码表单-->
<div class="mx-auto my-5 card shadow-lg rounded-3" style="max-width: 400px; background-color: #f9f9f9;">
    <div class="card-body">
        <form method="post" action="/findpwd">
            <div class="text-center fs-3 mb-4 mt-2">找回密码</div>
            <!--错误信息-->
            <div class="alert alert-danger d-flex align-items-center
                    {% if get_flashed_messages() %}{{ '' }}{% else %}visually-hidden{% endif %}" role="alert">
                <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
                <div class="flex-grow-1">{{ get_flashed_messages()[0] }}</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <!-- 用户名 -->
            <div class="mb-5">
                <label for="name" class="form-label">用户名</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="请输入用户名" required>
            </div>
            <!-- 发送邮件 -->
            <div class="text-center my-3">
                <button type="submit" class="btn btn-primary w-100">发送邮件</button>
            </div>
            <div class="text-center">
                又想起来了？去<a href="/login" class="text-decoration-none">登录</a>
            </div>
        </form>
    </div>
</div>

<script src="../static/plugins/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="../static/plugins/jQuery/jquery-3.6.0.min.js"></script>
</body>

</html>